 *{
     font-family: Raleway;
     margin: 0;
     padding: 0;
 }

 header {
     padding: 0 10px 10px 10px;
 }
 header .top{
     display: flex;
     justify-content: flex-end;
     align-items: center;

 }
 
 img{
     width: 15%;
     margin-right: auto;
 }
 .inscription {
     color: #0065FC;

 }
 nav {
     display: flex;
     flex-direction: row;
     grid-area: nav;
 }
 ul{
     display: flex;
 }
 nav ul li {
     margin-right: 40px;
     padding-top: 50px;
     padding-bottom: 50px;
 }
 .nav_links{
     list-style: none;
 }
 .nav_links li{
     transition: all 0.3s ease 0s;
 }
 .nav_links li:hover{
    color: #0065FC;
    border-top: 1px solid #0065FC;
}
 
.search_bar {
    display: flex;
}
 input, label {
     font-size: 20px;
     box-sizing: border-box;
     transition: .5s;
 }
 input[type="text"]
 {
     border: #F2F2F2 1px solid;
     outline: none;
     padding: 4px;
     width: 100%;
     max-width: 400px;
 }
 input[type="submit"]
 {
     border-radius: 0 20px 20px 0;
     border: none;
     outline: none;
     cursor: pointer;
     background: #0065FC;
     color: white;
     padding: 5px;
 }
 .fa-map-marker-alt{
     position: relative;
     right: -5px;
     border-radius: 20px 0 0 20px;
     border: none;
     outline: none;
     background: #F2F2F2;
     padding: 7px;
 }
 input[type="submit"]:hover{
     background: #DEEBFF;
 }
 i.fa-search {
     display: none;
     background-color: #0065FC;
     color: white;
     border-radius: 15%;
     padding: 10px;
 }


 .Filter {
     display: flex;
     padding: 10px;
     margin: 10px;
     align-items: baseline;
 }
 .filtre {
     display: flex;
     flex-wrap: wrap;
 }
 
 .filtre li{
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 26px;
    margin: 10px;
 }
 .icon{
     border-radius: 50%;
     width: 40px;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     left: -2px;
     background-color: #DEEBFF;
 }
 li .icon:hover {
     background-color: #0065FC;
 }
 li .button:hover {
     color: white;
 }
 li:hover .icon .button{
    animation: ro 2s linear infinite;
}
 li h3 {
     padding-top: 9px;
 }
 li {
     transition: all 0.6s;
 }
 li:hover {
     background-color: #DEEBFF;
     color: #0065FC;
 }
 
 @keyframes ro {
     0% {
         transform: rotate(0);
     }
     100% {
         transform: rotate(360deg);
     }
 }
 .info{
     display: flex;
 }
 .fa-info-circle{
     color: #F2F2F2;
     margin-right: 5px;
 }
 

main{
    display: flex;
 }

 .city_housing{
     display: flex;
     width: 70%;
     margin: 15px;
     padding: 15px;
     justify-content: space-around; 
     border-radius: 5%; 
     background: #F2F2F2; 
     flex-wrap: wrap;
 }
 .housing_room {
     display: flex;
     flex-direction: row;
     justify-content: center;
     flex-wrap: wrap;
 }
 .room{
    width: 300px;
    height: 200px;
    object-fit: contain;
 }
 img.room{
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px 15px 0 0 ;
    padding-bottom: 10px;
}
.room_box{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5px;
    padding-bottom: 40px;
    margin: 10px;
    border-radius: 15px;
    object-fit: cover;
    background: white;
    box-shadow: 0 0 2em gray;
    transition: 1s;
}
.room_box:hover {
    transform: scale(1.3);
}


 .popular_housing {
     display: flex;
     width: 30%;
     margin: 15px;
     padding: 15px;
     justify-content: space-around;
     border-radius: 5%;
     background: #F2F2F2;
     flex-wrap: wrap;
 }
 .popular_housing_room {
     height: 100%;
 }
 .popular {
    display: flex;
    width: 200px;
    height: 200px;
 }
img.popular {
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    padding-right: 10px;
    margin: 0;
}
.popularity_box {
    display: flex;
    margin: 15px;
    padding: 5px;
    border-radius: 20px;
    width: 90%;
    height: 20%;
    background: white; 
    box-shadow: 0 0 2em gray;
    transition: 1s;
}
.popularity_box:hover{
    transform: scale(1.3);
}
.popular_description{
    position: relative;
}
.chart{
    display: flex;
}
.fa-chart-line{
   display: flex;
   flex-direction: row;
   font-size: 22px;
   color: black;
   padding-left: 40px;
}  

.title{
    text-align: left;
    bottom: 2px;
}

.rating_star{
    position: absolute;
    bottom: 6%;
}


.title2{
    text-align: left;
}
 h2{
     display: flex;
     padding: 5px;
 }
 p {
     padding: 5px;
 }
 


 .activity_article{
     display: flex;
     flex-direction: row;
     margin: 15px;
     padding: 15px;
 }
 .activity_box{
     display: flex;
     flex-direction: column;
     margin: 10px;
     padding: 0 0 10px 0;
     border-radius: 5%;
     background: white;
     object-fit: cover;
     box-shadow: 0 0 1em #F2F2F2;
     width: 90%;
     transition: 1s;
 }
 .activity_box:hover{
     transform: scale(1.3);
 }
 .activity_second_box{
    display: flex;
    flex-direction: column;
 }
 .activity_column_box{
     display: flex;
     flex-direction: column;
     height: 50%;
     margin: 10px;
     padding: 0 0 10px 0;
     border-radius: 5%;
     background: white;
     object-fit: cover;
     box-shadow: 0 0 1em #F2F2F2;
     transition: 1s;
 }
 .activity_column_box:hover{
     transform: scale(1.3);
 }

 img.activity{
     justify-content: space-around;
     height: 90%;
     width: 100%;
     border-radius: 10px 10px 0 0;
     object-fit: cover;
 }
img.activity2{
    flex-direction: row;
    height: 90%;
    width: 100%;
    border-radius: 5% 5% 0 0;
    object-fit: cover;
}
.fas, .far{
    color: #0065FC;
}

 footer{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     background: #F2F2F2;
     padding: 20px 30% 20px 20px;
 }

 .inner_footer{
    justify-content: space-between;
    margin: 10px 10px 0 0;
}
 .inner_footer h3{
     padding: 0 0 15px 0;
 }
 .inner_footer p{
     padding: 5px 5px 5px 0;
     margin: 5px 5px 5px 0;
 }

/*media queries*/

@media all and (max-width: 500px) {
    header .top {

    }
    img {
        width: 50%;
    }
    .nav_links li {
        padding: 20px;
        width: 50%;
        margin: 0;
    }
    nav ul li {
        color: black;
        border-top: none;
        border-bottom: 2px solid #F2F2F2;
        display: flex;
        justify-content: center;
    }
    .inscription {

    }
    input[value="Rechercher"]
    {
        display: none;
    }
    i.fa-search{
        display: block;
    }
    .Filter {
        flex-direction: column;
        align-items: baseline;
    } 
    .filtre {

    }
    main {
        flex-direction: column-reverse;
    }
    header .top{
        display: grid;
        grid-template-areas: "img inscription" "nav nav";
    }
    .nav_links {
        width: 100%;
    }
    .city_housing {
        width: auto;
        background-color: white;
    }
    .housing_room{

    }
    .room_box{
        width: 100%;
    }
    img.room {
        width: 100%;
    }
    .popular_housing {
        width: auto;
    }
    .popular_housing_room {
        height: auto;
    }
    img.popular {
        
    }
    .popularity_box{
        height: 30%;
    }
    .popular_description {

    }
    .activity_article {
 
    }
    .activity_box {
    }
    .activity_second_box {
       
    }
}

@media all and (min-width:501px) and (max-width: 1070px) {
    body {
        width: 95%;
    }
    main {
        flex-direction: column;
        width: inherit;
    }
    .city_housing {
        width: 100%;
    }
    .housing_room {
        width: 100%;
    }
    .room_box {
        width: auto;
    }
    img.room {
    }
    .popular_housing {
        width: 100%;
    }
    .popular_housing_room {
        width: 100%;
    }
    .popularity_box {
        height: 100%;
    }
    img.popular {
        height: 200px;
        width: 40%;
        margin: 0;
    }
    .activity_article {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .activity_box  {
        width: 30%;
    }
    .activity_second_box {
        flex-direction: row;
        width: 67.6%;
    }
    .activity_column_box {
        width: 50%;
    }

    footer {
        flex-direction: row;
        padding: 10px;
    }
}

 